<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VelocityMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <VelocityMap.Properties.Settings>
            <setting name="IpAddress" serializeAs="String">
                <value>10.35.39.2</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>lvuser</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RioMPPath" serializeAs="String">
                <value>/home/lvuser/Motion_Profiles</value>
            </setting>
        </VelocityMap.Properties.Settings>
    </userSettings>
</configuration>
